@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Raleway:ital,wght@0,200;0,500;1,300&display=swap');

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	text-align: center;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: gray;
}

article {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0px 50px;

}

a {
	color: #282828;
}

img {
	width: 120%;
	padding-top: 30px;
}

footer {
	font-family: 'Raleway', sans-serif;
}

.container {
	width: 720px;
	height: 166px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	justify-content: center;
	padding: 5px 0px;	
}

#logo {
	font-size: 25px;
	font-weight: 900;
	font-family: 'PT Serif', serif;
}

#by_author {
	margin-bottom: 40px;
}

#last-updated {
	background-color: #fffdc0;
	font-weight: 600;
}

#updated-sub {
	padding: 0px 200px 30px 200px;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
}
