* {
    box-sizing: border-box;
}

div, p {
    border: 1px solid tomato;
}

span {
    background-color: aquamarine;
    border: 1px solid blue;
}

p {
    padding: 1rem;
}

main {
    max-width: 600px;
    margin: 0 auto;
}
