h1 {

    margin: 0 auto;
    max-width: 45rem;
    font-size: 5rem;
    font-weight: normal;

}

h1, h2 {
    font-family: Arial;
}

h1, h2, .byline, .updated-info, .updated-sub {

    text-align: center;

}

h2 {

    color: #777;
    font-size: 1.25rem;
    margin: 1.5rem 0;

}

address {
    font-style: normal;
    margin-bottom: 1.5rem;
}

.updated-info {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.25rem;
}

.updated-sub {
    margin: 10px auto 0 auto;
    width: 22rem;

}

.prose {
    margin: 1rem auto;
    max-width: 36rem;
    font-size: 1.2rem;
}

.opener {
    margin-top: 50px;
}

img {
    border: 1px solid blue;
    width: 100%;
    display: block;
}


